# AWS dependencies
boto3

# NLP libraries for preprocessing
nltk

# Profanity detection (as recommended in tips & tricks)
profanityfilter

# LocalStack (as required in environment setup)
localstack
localstack-client
awscli
awscli-local

# Testing
pytest
moto
requests

# Utilities
requests
packaging
regex